name=NativeService

air.sdk=E:/flex/sdk/4.14.1.air-18.0
flex.sdk=E:/flex/sdk/4.14.1.air-18.0

bin.ext=.bat
exe.ext=.exe

android.sdk=E:/java/android/sdk/platforms/android-17
android.platformtools=E:/java/android/sdk/platform-tools
android.build.tools.dir=E:/java/android/sdk/build-tools/17.0.0

player.version=18.0